/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-nov-2015, 19:46:06
    Author     : ALEX
*/
.form{
background-color: #fbe54e;
padding: 12px;
}
h3{
    color: grey;
    text-align: center;    
}
